<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <body class="hold-transition skin-blue sidebar-mini">
        <div th:fragment="navbar" class="hold-transition skin-blue sidebar-mini">

            <!-- Main Header -->
            <header class="main-header">

              <!-- Logo -->
              <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>S</b>V</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Sys</b>Vent</span>
              </a>

              <!-- Header Navbar -->
              <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                  <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                  <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->



                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                      <!-- Menu Toggle Button -->
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img th:src="@{'/obtenerImagen/usuario/'+${#authentication.principal.id}}" class="user-image" alt="User Image"/>
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs" th:text="${#authentication.principal.nombre}"/>
                      </a>
                      <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                          <img th:src="@{'/obtenerImagen/usuario/'+${#authentication.principal.id}}" class="img-circle" alt="User Image"/>
                          <p th:text="${#authentication.principal.nombre}"/>

                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                          <div class="pull-left">
                            <a th:href="@{'/usuarios/cambiar/pass/'+${#authentication.principal.id}}" class="btn btn-default btn-flat">Perfil</a>
                          </div>
                          <div class="pull-right">
                            <a href="/proyecto/logout" class="btn btn-default btn-flat">Cerrar sesion</a>
                          </div>
                        </li>

                      </ul>
                    </li>
                  </ul>

                </div>
              </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">

              <!-- sidebar: style can be found in sidebar.less -->
              <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                  <div class="pull-left image">
                    <img th:src="@{'/obtenerImagen/usuario/'+${#authentication.principal.id}}" class="img-circle" alt="User Image"/>
                  </div>
                  <div class="pull-left info">
                    <p th:text="${#authentication.principal.nombreRol}"/>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                  </div>
                </div>

<!--                 search form (Optional) 
                <form action="#" method="get" class="sidebar-form">
                  <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..."/>
                    <span class="input-group-btn">
                      <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                  </div>
                </form>-->
                <!-- /.search form -->

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                  <li class="header">HEADER</li>
                  <!-- Optionally, you can add icons to the links -->
                  <li><a sec:authorize="hasRole('SuperUsuario')" th:href="@{/empresas}"><i class="fa fa-suitcase"></i> <span>Empresas</span></a></li>
                  <li><a sec:authorize="hasRole('Usuario.Listar')" th:href="@{/usuarios}"><i class="fa fa-user"></i> <span>Usuarios</span></a></li>
                  <li><a sec:authorize="hasRole('Cliente.Listar')" th:href="@{/clientes}"><i class="fa fa-users"></i> <span>Clientes</span></a></li>
                  <li><a sec:authorize="hasRole('Proveedor.Listar')" th:href="@{/proveedores}"><i class="fa fa-truck"></i> <span>Proveedores</span></a></li>
                  <li><a sec:authorize="hasRole('Pedido.Listar')" th:href="@{/pedidos}"><i class="fa fa-fw fa-file-powerpoint-o"></i> <span>Pedidos</span></a></li>
                  <li class="treeview">
                    <a sec:authorize="hasRole('Compra.Listar')" href="#"><i class="fa fa-fw fa-cart-plus"></i> <span>Compras</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                      <li><a th:href="@{/orden/compras}">Orden Compra</a></li>
                      <li><a th:href="@{/compras/directa/crear}">Compra Directa</a></li>
                      <li><a th:href="@{/compras/pendientes}">Compras Pendientes</a></li>
                      <li><a th:href="@{/compras/realizadas}">Compras Realizadas</a></li>
                    </ul>
                  </li>
                  <li><a sec:authorize="hasRole('Venta.Listar')" th:href="@{/ventas}"><i class="fa fa-shopping-bag"></i> <span>Ventas</span></a></li>
                  <li class="treeview">
                    <a sec:authorize="hasRole('Caja.Listar')" href="#"><i class="fa fa-money"></i> <span>Caja</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                      <li><a th:href="@{/pagos}">Pago Pendientes</a></li>
                      <li><a th:href="@{/ventas}">Cobro Pendientes</a></li>
                      <li><a th:href="@{/ventas}">Movimientos</a></li>
                    </ul>
                  </li>
                  <li class="treeview">
                    <a sec:authorize="hasRole('Vehiculo.Listar')" href="#"><i class="fa fa-car"></i> <span>Vehículos</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                      <li><a th:href="@{/vehiculos}">Stock</a></li>
                      <li><a th:href="@{/tipos}">Tipos</a></li>
                      <li><a th:href="@{/marcas}">Marcas</a></li>
                    </ul>
                  </li>
                  <li class="treeview">
                    <a  href="#"><i class="fa fa-newspaper-o"></i> <span>Reportes</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                      <li><a href="#">Reporte de Compras</a></li>
                      <li><a href="#">Reporte de Ventas</a></li>
                      <li><a href="#">Reporte de Movimientos</a></li>
                      
                    </ul>
                  </li>
                  <li class="treeview">
                    <a sec:authorize="hasRole('Configurar.Sistema')" href="#"><i class="fa fa-cog"></i> <span>Datos del Sistema</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a sec:authorize="hasRole('SuperUsuario')" th:href="@{/roles}"><i class="fa fa-users"></i> <span>Roles</span></a></li>
                        <li><a sec:authorize="hasRole('SuperUsuario')" th:href="@{/permisos}"><i class="fa fa-key"></i> <span>Permisos</span></a></li>
                        <li><a sec:authorize="hasRole('Moneda.Listar')" th:href="@{/monedas}"><i class="fa fa-fw fa-dollar"></i> <span>Monedas</span></a></li>
                    </ul>
                  </li>
                  
                </ul><!-- /.sidebar-menu -->
              </section>
              <!-- /.sidebar -->
            </aside>

          </div><!-- ./wrapper -->

          <div class="control-sidebar-bg"></div>

    </body>
</html>
