<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>  
    <div th:include="include/head :: head" th:remove="tag"></div>
    <script th:src="@{~/proyecto/resources/js/lib/jquery-1.9.1.min.js}"></script>
    <script th:src="@{~/proyecto/resources/js/lib/jquery.validate.min.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/dist/css/style_image.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/dist/css/style.css}" type="text/css"/>
    <title>Usuarios</title>
    <script th:inline="javascript">
        var usuario = /*[[${usuario}]]*/'';
    </script>
</head>
<body >
    <nav th:replace="include/navbar :: navbar"></nav>
    <div class="content-wrapper">
        <!-- Content Header (Page header) --> 
        <!-- Main content -->
        <section class="content">
            <div class="box box-info">

                <div class="widget-header widget-header-flat widget-header-large">
                    <h3 class="widget-title">
                        <span class="middle">Perfil Usuario</span>
                        
                    </h3>

                    <div class="widget-toolbar no-border">
                        
                        <a th:href="@{/usuarios}" class="btn btn-primary btn-light bigger" role="button">
                            <i class="ace-icon fa fa-arrow-left"></i>
                            Volver
                        </a>                 
                    </div>   
                </div>
                <!-- <form:input path="fichero" type="file" class="hidden" />
                <form:input path="nuevoFichero" type="boolean" class="hidden" /> -->

                <form id="validation-form" class="form-horizontal dropzone" enctype="multipart/form-data">
                    <div class="box-body">
                        <div id="mensaje"/>   
                        <div class="col-xs-12">

                            <div id="user-profile-1" class="user-profile row" style="padding-top: 2em; padding-left: 1em; padding-right: 1em;">
                                <div class="col-xs-12 col-sm-3 center">
                                    <div>
                                        <div id="img-boton">
                                            <div class="profile-picture">
                                                
                                                <img th:if="${usuario} == null" id="imgPortada" style="max-width: 100%; height: auto" th:src="@{/resources/img/usuario.jpg}" alt="Imagen"/>

                                                <img th:if="${usuario} != null" id="imgPortada" style="max-width: 100%; height: auto" th:src="@{'/obtenerImagen/usuario/'+${usuario.id}}" alt="Imagen"/>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <input th:if="${usuario} == null" id="idUsuario" name="id" type="hidden"  class="form-control tableusuario-input" />
                                <input th:if="${usuario} != null" th:value="${usuario.id}" id="idUsuario" name="id" type="hidden"  class="form-control tableusuario-input" />

                                <div class="col-xs-12 col-sm-9">
                                    <div class=" col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-3 ">Usuario: </label>
                                        <div class="col-lg-3">
                                            <p th:text="${usuario.alias}"></p>
                                        </div>
                                    </div>

                                    <div class=" col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-3 ">Documento: </label>
                                        <div class="col-lg-3">
                                            <p th:text="${usuario.documento}"></p>
                                            
                                        </div>
                                    </div>
                                    
                                    <div class=" col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-3 ">Nombre: </label>
                                        <div class="col-lg-6">
                                            <p th:text="${usuario.nombre}"></p>
                                            
                                        </div>
                                    </div>

                                    <div class=" col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-3 ">Apellido: </label>
                                        <div class="col-lg-6">
                                            <p th:text="${usuario.apellido}"></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                      <div class="col-lg-5">
                                          <h3>
                                            Cambiar contraseña
                                          </h3>
                                      </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-3 control-label">Contraseña(*)</label>
                                        <div class="col-lg-4">
                                            <input th:if="${usuario} != null"  id="claveAcceso" name="claveAcceso" type="password" placeholder="Contraseña" class="form-control tableusuario-input "/> 
                                            
                                            <span class="glyphicon form-control-feedback" id="claveAcceso1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-3 control-label">Nueva Contraseña(*)</label>
                                        <div class="col-lg-4">
                                            <input th:if="${usuario} != null"  id="claveAccesoNuevo" name="claveAccesoNuevo" type="password" placeholder="Contraseña" class="form-control tableusuario-input "/> 
                                             
                                            <span class="glyphicon form-control-feedback" id="claveAccesoNuevo1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-3 control-label">Repetir Nueva Contraseña(*)</label>
                                        <div class="col-lg-4">
                                            <input th:if="${usuario} != null"  id="claveAccesoNuevoRepetir" name="claveAccesoNuevoRepetir" type="password" placeholder="Contraseña" class="form-control tableusuario-input "/> 
                                            
                                            <span class="glyphicon form-control-feedback" id="claveAccesoNuevoRepetir1"></span>
                                        </div>
                                    </div>

                                </div>
                                

                            </div>

                        </div>
                    </div>
                    <div class="clearfix box-footer">
                        <div class="col-md-offset-3 col-md-9">
                            <button id="aceptar" class="btn btn-primary" type="submit">
                                <i class="fa fa-check bigger-110"></i>
                                Guardar
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button id="cancelar" class="btn btn-default" type="reset" >
                                <i class="fa fa-undo bigger-110"></i>
                                Cancelar
                            </button>

                        </div>
                    </div>

                </form>
            </div>
            <!-- Your Page Content Here -->

        </section><!-- /.content -->
    </div>
    <div th:include="include/scripts :: [id='scripts']" th:remove="tag"></div>
    <script th:src="@{~/proyecto/resources/js/lib/bootstrap-editable.min.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/dist/js/jquery.inputmask.bundle.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/cambiar-contrasenha.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/base.js}" charset="UTF-8"></script>

    <script th:src="@{~/proyecto/resources/js/lib/jquery.validate.min.js}" charset="UTF-8"></script>
    <!--    <script th:src="@{~/proyecto/resources/js/lib/dropzone.js}"></script>
        <script th:src="@{~/proyecto/resources/js/upload_image.js}"></script> -->

</body>
</html>