<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>  
    <div th:include="include/head :: head" th:remove="tag"></div>
    <script th:src="@{~/proyecto/resources/js/lib/jquery-1.9.1.min.js}"></script>
    <script th:src="@{~/proyecto/resources/js/lib/jquery.validate.min.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/dist/css/style_image.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/dist/css/style.css}" type="text/css"/>
    <link th:href="@{/resources/css/datepicker.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
    
    <title>Clientes</title>
    <script th:inline="javascript">
        var action = /*[[${action}]]*/'';
        var id = /*[[${id}]]*/'';
    </script>
</head>
<body >
    <nav th:replace="include/navbar :: navbar"></nav>
    <div class="content-wrapper">
        <!-- Content Header (Page header) --> 
        <!-- Main content -->
        <section class="content">
            <div class="box box-info">

                <div class="widget-header widget-header-flat widget-header-large">
                    <h3 class="widget-title">
                        <span class="middle">Cliente</span>                      
                    </h3>

                    <div class="widget-toolbar no-border">
                        <a id="editButton" sec:authorize="hasRole('Cliente.Editar')"  th:if="${action} == 'VISUALIZAR'"  class="btn btn-primary bigger" role="button">Editar</a>
                        <a th:href="@{/clientes}" class="btn btn-primary btn-light bigger" role="button">
                            <i class="ace-icon fa fa-arrow-left"></i>
                            Volver
                        </a>                 
                    </div>   
                </div>
                <!-- <form:input path="fichero" type="file" class="hidden" />
                <form:input path="nuevoFichero" type="boolean" class="hidden" /> -->
                <div>
                    <div class="tabbable">
                        <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                            <li class="active">
                                <a data-toggle="tab" href="#home4">Datos Personales</a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#profile4">Datos Laborales</a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#dropdown14">Datos Contacto</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="mensaje"/> 
                            <div id="home4" class="tab-pane in active">
                                <form id="validation-form" class="form-horizontal dropzone" enctype="multipart/form-data">
                                    <div class="box-body">

                                        <div class="col-xs-12">

                                            <div id="user-profile-1" class="user-profile row" style="padding-top: 2em; padding-left: 1em; padding-right: 1em;">
                                                <!--                                <div class="col-xs-12 col-sm-3 center">
                                                                                    <div>
                                                                                        <div id="img-boton">
                                                                                            <div class="profile-picture">
                                                                                                <input  name="imagenPort" type="hidden"  class="form-control tableusuario-input" />
                                                                                                <img th:if="${cliente} == null" id="imgPortada" style="max-width: 100%; height: auto" th:src="@{/resources/img/usuario.jpg}" alt="Seleccione una nueva imagen"/>
                                                
                                                                                                <img th:if="${cliente} != null" id="imgPortada" style="max-width: 100%; height: auto" th:src="@{'/obtenerImagen/usuario/'+${usuario.id}}" alt="Seleccione una nueva imagen"/>
                                                
                                                                                                <div class="caption">
                                                                                                    <a th:if="${editar} and ${usuario} != null or ${usuario} == null" class="btn btn-warning boton-imagen" role="button" data-campo="imagenPort" data-ancho="200" data-alto="400" data-img="imgPortada">Elegir imagen</a>
                                                                                                    <input class="form-control tableusuario-input hidden" name="imagenPortInput" id="imagenPortInput" type="file"/>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                
                                                                                    </div>
                                                
                                                                                </div>-->
                                                <input id="idCliente" name="id" type="hidden"  class="form-control tableusuario-input" />
                                                <div class="col-xs-12 col-sm-12">

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">RUC/CI(*)</label>
                                                        <div class="col-lg-8">
                                                            <input  id="documento" name="documento" type="text" placeholder="Documento" data-mask="" data-inputmask-regex="^[0-9]{5}([0-9])?([0-9])?([0-9])?(-)?([0-9])?$"  class="form-control tableusuario-input "/>
                                                            <span class="glyphicon form-control-feedback" id="documento1"></span> 
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Razon Social(*)</label>
                                                        <div class="col-lg-8">
                                                            <input  id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control tableusuario-input "/> 
                                                            <span class="glyphicon form-control-feedback" id="nombre1"></span>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                        <label class="col-lg-7 control-label">Fecha Nacimiento</label>
                                                        <div class="col-lg-5">
                                                            <input class="form-control date-picker tableusuario-input" id="id-date-picker-cliente" name="fecha" type="text" data-date-format="dd-mm-yyyy" />
                                                            <span class="add-on" ><i class="icon-calendar"></i></span>
                                                        </div>
                                                    </div> -->
                                                    <!-- <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                        <label class="col-lg-4 control-label">Sexo</label>
                                                        <div class="col-lg-8">
                                                            <select  class="form-control tableusuario-input " id="sexo"  name="sexo" data-placeholder="Seleccione opcion">
                                                                <option value="">Seleccione Opcion</option>
                                                                <option value="MASCULINO">MASCULINO</option>
                                                                <option value="FEMENINO">FEMENINO</option>
                                                            </select>
                                                        </div>
                                                    </div> -->
                                                    <!-- <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                        <label class="col-lg-2 control-label">Pais</label>
                                                        <div class="col-lg-10">
                                                            <input id="pais" name="pais" type="text" placeholder="Pais" class="form-control tableusuario-input "/> 
                                                            <span class="glyphicon form-control-feedback" id="pais"></span>
                                                        </div>
                                                    </div> -->

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Email(*)</label>
                                                        <div class="col-lg-8">
                                                            <input id="email" name="email" type="text" placeholder="Email" class="form-control tableusuario-input "/> 
                                                            <span class="glyphicon form-control-feedback" id="email1"></span>
                                                        </div>
                                                    </div>


                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Telefono(*)</label>
                                                        <div class="col-lg-8">
                                                            <input  id="telefono" name="telefono" type="text" placeholder="Telefono" data-mask="" data-inputmask="'mask': '(999)999-999'" class="form-control tableusuario-input "/> 
                                                            <span class="glyphicon form-control-feedback" id="telefono1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Telefono Movil</label>
                                                        <div class="col-lg-8">
                                                            <input  id="telefonoMovil" name="telefonoMovil" type="text" placeholder="Telefono" data-mask="" data-inputmask="'mask': '(0\\999)999-999'" class="form-control tableusuario-input"/> 
                                                            <span class="glyphicon form-control-feedback" id="telefonoMovil1"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                                        <label class="col-lg-2 control-label">Direccion</label>
                                                        <div class="col-lg-6">
                                                            <input  id="direccion" type="text" name="direccion" placeholder="Direccion" class="form-control tableusuario-input " /> 
                                                            <span class="glyphicon form-control-feedback" id="direccion1"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                                        <label class="col-lg-2 control-label">Observaciones</label>
                                                        <div class="col-lg-6">
                                                            <textarea rows="3"    id="comentario" name="comentario" type="text" placeholder="Observaciones"  class="form-control limited tableusuario-input " /> 
                                                            <span class="glyphicon form-control-feedback" id="comentario1"></span>
                                                        </div>
                                                    </div>                                                                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="buttonOption" class="clearfix box-footer" >
                                        <div class="col-md-offset-3 col-md-9">
                                            <button id="aceptar" class="btn btn-primary" type="submit">
                                                <i class="fa fa-check bigger-110"></i>
                                                Guardar
                                            </button>
                                            &nbsp; &nbsp; &nbsp;
                                            <button id="cancelar" class="btn btn-default" type="reset" >
                                                <i class="fa fa-undo bigger-110"></i>
                                                Cancelar
                                            </button>

                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div id="profile4" class="tab-pane">
                                <form id="validation-formEmpleo" class="form-horizontal dropzone" enctype="multipart/form-data">
                                    <div class="box-body">
                                        <div id="mensaje"/>   
                                        <div class="col-xs-12">
                                            <div id="user-profile-1" class="user-profile row" style="padding-top: 2em; padding-left: 1em; padding-right: 1em;">
                                                <!--                                <div class="col-xs-12 col-sm-3 center">
                                                                                    <div>
                                                                                        <div id="img-boton">
                                                                                            <div class="profile-picture">
                                                                                                <input  name="imagenPort" type="hidden"  class="form-control tableusuario-input" />
                                                                                                <img th:if="${cliente} == null" id="imgPortada" style="max-width: 100%; height: auto" th:src="@{/resources/img/usuario.jpg}" alt="Seleccione una nueva imagen"/>
                                                
                                                                                                <img th:if="${cliente} != null" id="imgPortada" style="max-width: 100%; height: auto" th:src="@{'/obtenerImagen/usuario/'+${usuario.id}}" alt="Seleccione una nueva imagen"/>
                                                
                                                                                                <div class="caption">
                                                                                                    <a th:if="${editar} and ${usuario} != null or ${usuario} == null" class="btn btn-warning boton-imagen" role="button" data-campo="imagenPort" data-ancho="200" data-alto="400" data-img="imgPortada">Elegir imagen</a>
                                                                                                    <input class="form-control tableusuario-input hidden" name="imagenPortInput" id="imagenPortInput" type="file"/>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                
                                                                                    </div>
                                                
                                                                                </div>-->
                                                <input id="idEmpleo" name="id" type="hidden"  class="form-control tableusuario-input" />
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Empresa(*)</label>
                                                        <div class="col-lg-8">
                                                            <input id="nombreEmpresa" name="nombreEmpresa" type="text" placeholder="Empresa"  class="form-control tableusuario-input "/>
                                                            <span class="glyphicon form-control-feedback" id="nombreEmpresa1"></span> 
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Actividad(*)</label>
                                                        <div class="col-lg-8">
                                                            <input id="actividad" name="actividad" type="text" placeholder="Actividad"  class="form-control tableusuario-input "/>
                                                            <span class="glyphicon form-control-feedback" id="actividad1"></span> 
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Cargo(*)</label>
                                                        <div class="col-lg-8">
                                                            <input id="cargo" name="cargo" type="text" placeholder="Cargo" class="form-control tableusuario-input "/> 
                                                            <span class="glyphicon form-control-feedback" id="cargo1"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Antiguedad(*)</label>
                                                        <div class="col-lg-8">
                                                            <input id="antiguedad" name="antiguedad" type="text" placeholder="Antiguedad" class="form-control tableusuario-input "/> 
                                                            <span class="glyphicon form-control-feedback" id="antiguedad1"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Salario(*)</label>
                                                        <div class="col-lg-6">
                                                            <input id="salario" name="salario" type="text" placeholder="Salario" class="form-control tableusuario-input "/> 
                                                            <span class="glyphicon form-control-feedback" id="salario1"></span>
                                                        </div>
                                                    </div>


                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Telefono(*)</label>
                                                        <div class="col-lg-6">
                                                            <input id="telefonoEmpleo" name="telefono" type="text" placeholder="Telefono" data-mask="" data-inputmask="'mask': '(999)999-999'" class="form-control tableusuario-input "/> 
                                                            <span class="glyphicon form-control-feedback" id="telefonoEmpleo1"></span>
                                                        </div>
                                                    </div>


                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                                        <label class="col-lg-2 control-label">Direccion</label>
                                                        <div class="col-lg-6">
                                                            <input  id="direccionEmpleo" type="text" name="direccion" placeholder="Direccion" class="form-control tableusuario-input " /> 
                                                            <span class="glyphicon form-control-feedback" id="direccionEmpleo1"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                                        <label class="col-lg-2 control-label">Observaciones</label>
                                                        <div class="col-lg-6">
                                                            <textarea rows="3"   id="comentarioEmpleo" name="comentario" type="text" placeholder="Observaciones"  class="form-control limited tableusuario-input " /> 
                                                            <span class="glyphicon form-control-feedback" id="comentarioEmpleo1"></span>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <div id="buttonOptionEmpleo" class="clearfix box-footer">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button id="aceptar" class="btn btn-primary" type="submit">
                                                <i class="fa fa-check bigger-110"></i>
                                                Guardar
                                            </button>
                                            &nbsp; &nbsp; &nbsp;
                                            <button id="cancelar" class="btn btn-default" type="reset" >
                                                <i class="fa fa-undo bigger-110"></i>
                                                Cancelar
                                            </button>

                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div id="dropdown14" class="tab-pane">
                                <form id="validation-formContacto" class="form-horizontal dropzone" enctype="multipart/form-data">
                                    <div class="box-body">
                                        <div id="mensaje"/>   
                                        <div class="col-xs-12">

                                            <div id="user-profile-1" class="user-profile row" style="padding-top: 2em; padding-left: 1em; padding-right: 1em;">
                                                <!--                                <div class="col-xs-12 col-sm-3 center">
                                                                                    <div>
                                                                                        <div id="img-boton">
                                                                                            <div class="profile-picture">
                                                                                                <input  name="imagenPort" type="hidden"  class="form-control tableusuario-input" />
                                                                                                <img th:if="${cliente} == null" id="imgPortada" style="max-width: 100%; height: auto" th:src="@{/resources/img/usuario.jpg}" alt="Seleccione una nueva imagen"/>
                                                
                                                                                                <img th:if="${cliente} != null" id="imgPortada" style="max-width: 100%; height: auto" th:src="@{'/obtenerImagen/usuario/'+${usuario.id}}" alt="Seleccione una nueva imagen"/>
                                                
                                                                                                <div class="caption">
                                                                                                    <a th:if="${editar} and ${usuario} != null or ${usuario} == null" class="btn btn-warning boton-imagen" role="button" data-campo="imagenPort" data-ancho="200" data-alto="400" data-img="imgPortada">Elegir imagen</a>
                                                                                                    <input class="form-control tableusuario-input hidden" name="imagenPortInput" id="imagenPortInput" type="file"/>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                
                                                                                    </div>
                                                
                                                                                </div>-->
                                                <input id="idContacto" name="id" type="hidden"  class="form-control tableusuario-input" />
                                                <div class="col-xs-12 col-sm-12">
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">CI(*)</label>
                                                        <div class="col-lg-8">
                                                            <input  id="documentoContacto" name="documento" type="text" data-mask="" data-inputmask-regex="^[0-9]{5}([0-9])?([0-9])?([0-9])?$" placeholder="CI" class="form-control tableusuario-input"/> 
                                                            <span class="glyphicon form-control-feedback" id="documentoContacto1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Nombre(*)</label>
                                                        <div class="col-lg-8">
                                                            <input id="nombreContacto" name="nombre" type="text" placeholder="Nombre"  class="form-control tableusuario-input "/>
                                                            <span class="glyphicon form-control-feedback" id="nombreContacto1"></span> 
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Cargo(*)</label>
                                                        <div class="col-lg-8">
                                                            <input id="cargoContacto" name="cargo" type="text" placeholder="Cargo"  class="form-control tableusuario-input "/>
                                                            <span class="glyphicon form-control-feedback" id="cargoContacto1"></span> 
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Telefono</label>
                                                        <div class="col-lg-8">
                                                            <input id="telefonoContacto" name="telefono" type="text" placeholder="Telefono" data-mask="" data-inputmask="'mask': '(999)999-999'" class="form-control tableusuario-input "/> 
                                                            <span class="glyphicon form-control-feedback" id="telefonoContacto1"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Telefono Movil(*)</label>
                                                        <div class="col-lg-8">
                                                            <input  id="movilContacto" name="movil" type="text" placeholder="Telefono" data-mask="" data-inputmask="'mask': '(0\\999)999-999'" class="form-control tableusuario-input"/> 
                                                            <span class="glyphicon form-control-feedback" id="movilContacto1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                                        <label class="col-lg-2 control-label">Email</label>
                                                        <div class="col-lg-6">
                                                            <input  id="emailContacto" name="email" type="text" placeholder="Email"  class="form-control tableusuario-input"/> 
                                                            <span class="glyphicon form-control-feedback" id="emailContacto1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                                        <label class="col-lg-2 control-label">Observaciones</label>
                                                        <div class="col-lg-6">
                                                            <textarea rows="3"  id="comentarioContacto" name="comentario" type="text" placeholder="Observaciones"  class="form-control limited tableusuario-input " /> 
                                                            <span class="glyphicon form-control-feedback" id="comentarioContacto1"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="buttonOptionContacto" class="clearfix box-footer" >
                                        <div class="col-md-offset-3 col-md-9">
                                            <button id="aceptar" class="btn btn-primary" type="submit">
                                                <i class="fa fa-check bigger-110"></i>
                                                Guardar
                                            </button>
                                            &nbsp; &nbsp; &nbsp;
                                            <button id="cancelar" class="btn btn-default" type="reset" >
                                                <i class="fa fa-undo bigger-110"></i>
                                                Cancelar
                                            </button>

                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Your Page Content Here -->

        </section><!-- /.content -->
    </div>
    <div th:include="include/scripts :: [id='scripts']" th:remove="tag"></div>
    <script th:src="@{~/proyecto/resources/js/lib/moment.min.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/lib/bootstrap-editable.min.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/dist/js/jquery.inputmask.bundle.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/bootstrap/js/bootstrap-datepicker.min.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/plugins/datepicker/locales/bootstrap-datetimepicker.es.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/base.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/cliente/clienteDatos.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/cliente/clienteForm.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/cliente/empleoForm.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/cliente/clienteContactoForm.js}" charset="UTF-8"></script>
    

    <script th:src="@{~/proyecto/resources/js/lib/jquery.validate.min.js}" charset="UTF-8"></script>
    <!--    <script th:src="@{~/proyecto/resources/js/lib/dropzone.js}"></script>
        <script th:src="@{~/proyecto/resources/js/upload_image.js}"></script> -->

</body>
</html>