<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    <div th:include="include/head :: head" th:remove="tag"></div>
    <link th:href="@{/resources/css/easyui.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/icon.css}" rel="stylesheet" />
    <title>Monedas</title>
    <script th:inline="javascript">
        var datosEmpresa = /*[[${empresas}]]*/'';
    </script>

</head>
<body>
    <nav th:replace="include/navbar :: navbar"></nav>
    <div class="content-wrapper">

        <div class="tabladd-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Moneda.Crear'')')}"/>
        <div class="tabledit-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Moneda.Editar'')')}"/>
        <div class="tablactivate-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Moneda.Activar'')')}"/>
        <div class="tabldelete-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Moneda.Desactivar'')')}"/>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Moneda
                <small>Lista de monedas de la empresa.</small>
            </h1>       
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div id="mensaje"></div>
                    <div id="grid-botton"></div>
                    <table id="grid" style="width: 100%;"></table>
                    <div id="grid-pager"></div>

                </div>
            </div>

        </section>

    </div>    
    <!-- /.content -->
    <div th:include="include/scripts :: [id='scripts']" th:remove="tag"></div>
    <script th:src="@{/resources/js/base.js}"></script>
    <script src="/proyecto/resources/dist/js/jquery.jqGrid.min.js"></script>
    <script src="/proyecto/resources/dist/js/grid.locale-en.js"></script>
    <script src="/proyecto/resources/js/monedasListar.js"></script>   
</body>
</html>