<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    <div th:include="include/head :: head" th:remove="tag"></div>
    <title>Compras</title>
    
    <link th:href="@{/resources/css/easyui.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/icon.css}" rel="stylesheet" />
    <link th:href="@{/resources/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/bootstrap/css/bootstrap-timepicker.min.css}" rel="stylesheet" />

</head>
<body>
    <nav th:replace="include/navbar :: navbar"></nav>
    <div class="content-wrapper">

        <div class="tabladd-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Compra.Realizar'')')}"/>
        <div class="tabledit-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Compra.Editar'')')}"/>
        <div class="tablactivate-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Compra.Activar'')')}"/>
        <div class="tabldelete-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Compra.Desactivar'')')}"/>
        <div class="tabldetalle-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Compra.Detalle'')')}"/>
        <div class="tablvisualizar-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Compra.Visualizar'')')}"/>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Orden de Compras
                <small>Lista de compras de la empresa.</small>
            </h1>
            <ol class="breadcrumb">
                <a sec:authorize="hasRole('Compra.Realizar')" th:href="@{/compras/directa/crear}" class="btn btn-primary" role="button">
                    Compra Directa
                </a>
            </ol>
        </section>
        <hr/>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div id="mensaje"></div>
                    <form class="form-search">
                        <span class="input-icon">
                            <input id="globalSearchText" placeholder="Buscar ..." class="nav-search-input"  autocomplete="off" type="text"/>
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                        <button id="globalSearch" type="button" class="btn btn-info btn-sm">
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </button>
                    </form>
                    <table id="grid" style="width: 100%;"></table>
                    <div id="grid-pager"></div>

                </div>
            </div>

        </section>

    </div>    
    <!-- /.content -->
    <div th:include="include/scripts :: [id='scripts']" th:remove="tag"></div>
    <script th:src="@{~/proyecto/resources/bootstrap/js/bootstrap-datetimepicker.min.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/lib/bootstrap-datepicker.min.js}" charset="UTF-8"></script>
    <script th:src="@{/resources/js/base.js}"></script>
    <script src="/proyecto/resources/dist/js/jquery.jqGrid.min.js"></script>
    <script src="/proyecto/resources/dist/js/grid.locale-en.js"></script>
    <script th:src="@{/resources/js/compra/ordenesListar.js}"></script>




</body>
</html>