<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>  
    <div th:include="include/head :: head" th:remove="tag"></div>
    <link th:href="@{/resources/css/datepicker.min.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/easyui.css}" rel="stylesheet" />
    <link th:href="@{/resources/bootstrap/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />

    <title>Pedido</title>
    <script th:inline="javascript">
        var id = /*[[${id}]]*/'';
        var action = /*[[${action}]]*/'';
    </script>
</head>
<body >
    <nav th:replace="include/navbar :: navbar"></nav>
    
    <div class="tabladd-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''DetallePedido.Crear'')')}"/>
    <div class="tabledit-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''DetallePedido.Editar'')')}"/>
    <div class="tablaprobar-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''DetallePedido.Aprobar'')')}"/>
    <div class="tablrechazar-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''DetallePedido.Rechazar'')')}"/>
   
    <div class="content-wrapper">
        <!-- Content Header (Page header) --> 
        <!-- Main content -->
        <section class="content">
            <div class="box box-info">

                <div class="widget-header widget-header-flat widget-header-large">
                    <h3 class="widget-title">
                        <span th:if="${proveedor} == null" class="middle">Pedido</span>
                        <span th:if="${editar}" class="middle">Editar Pedido</span>
                        <span th:if="!${editar} and ${proveedor} != null" class="middle">Visualizar Pedido</span>
                    </h3>

                    <div class="widget-toolbar no-border">
                        <a sec:authorize="hasRole('Pedido.Editar')" id="botonEditar" th:if="!${editar} and ${pedido} != null" th:href="@{'/pedidos/editar/'+${proveedor.id}}" class="btn btn-primary bigger" role="button">Editar</a>
                        <a th:href="@{/pedidos}" class="btn btn-primary btn-light bigger" role="button">
                            <i class="ace-icon fa fa-arrow-left"></i>
                            Volver
                        </a>                 
                    </div>   
                </div>
                <!-- <form:input path="fichero" type="file" class="hidden" />
                <form:input path="nuevoFichero" type="boolean" class="hidden" /> -->

                <form id="validation-form" class="form-horizontal dropzone" enctype="multipart/form-data">
                    <div class="box-body">

                        <div class="col-xs-12">

                            <div class="col-xs-12 col-sm-12">
                                <input  id="idPedido" name="id" type="hidden" th:value="${id}" class="form-control table-empresa-input" />

                                <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                    <label class="col-lg-6 control-label">Codigo(*)</label>
                                    <div class="col-lg-6">
                                        <input id="codigo" name="codigo" type="text" disabled="disabled" placeholder="Codigo Pedido" class="form-control tableusuario-input "/> 
                                        <span class="glyphicon form-control-feedback" id="nombre1"></span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                    <label class="col-lg-4 control-label">Proveedor(*)</label>
                                    <div class="col-lg-8">
                                        <select  class="form-control tableusuario-input " id="proveedor"  name="proveedor.id" data-placeholder="Seleccione Proveedor">

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                    <label class="col-lg-6 control-label">Fecha Entrega(*)</label>
                                    <div class="col-lg-6">
                                        <input class="form-control date-picker" id="id-date-picker" name="fechaEntrega" type="text" data-date-format="dd-mm-yyyy" />
                                        <span class="add-on" ><i class="icon-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                    <label class="col-lg-6 control-label">Aprobados</label>
                                    <div class="col-lg-6">
                                        <input  id="cantidadAprobados" name="cantidadAprobados" type="text" disabled="disabled" placeholder="Cantidad Aprobados" data-mask="" data-inputmask="'mask': '(999)999-999'"  class="form-control tableusuario-input "/> 
                                        <span class="glyphicon form-control-feedback" id="fax1"></span>
                                    </div>
                                </div>


                                <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                    <label class="col-lg-6 control-label">Cantidad</label>
                                    <div class="col-lg-6">
                                        <input id="cantidadTotal" type="text" name="cantidadTotal" disabled="disabled" placeholder="Cantidad Total" class="form-control tableusuario-input " /> 
                                        <span class="glyphicon form-control-feedback" id="pais1"></span>
                                    </div>
                                </div>

                                <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                    <label class="col-lg-6 control-label">Monto Total</label>
                                    <div class="col-lg-6">
                                        <input  id="montoTotal" type="text" name="montoTotal" disabled="disabled" placeholder="Total" class="form-control tableusuario-input " /> 
                                        <span class="glyphicon form-control-feedback" id="direccion1"></span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                    <label class="col-lg-2 control-label">Observacion</label>
                                    <div class="col-lg-10">
                                        <input id="observacion" type="text" name="observacion" placeholder="Observacion" class="form-control tableusuario-input " /> 
                                        <span class="glyphicon form-control-feedback" id="pais1"></span>
                                    </div>
                                </div>                               
                            </div>

                        </div>
                    </div>

                </form>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="mensaje"></div>
                        
                        <form class="form-search">
                            <span class="input-icon">
                                <input id="globalSearchText" placeholder="Buscar ..." class="nav-search-input"  autocomplete="off" type="text"/>
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                            <button id="globalSearch" type="button" class="btn btn-info btn-sm">
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </button>
                        </form>
                        <table id="grid" class="scroll" style="width: 100%;"></table>
                        <div id="grid-pager"></div>

                    </div>
                </div>
            </div>
            <!-- Your Page Content Here -->

        </section><!-- /.content -->
    </div>
    <div th:include="include/scripts :: [id='scripts']" th:remove="tag"></div>
    <script th:src="@{~/proyecto/resources/js/lib/moment.min.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/lib/bootstrap-editable.min.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/dist/js/jquery.inputmask.bundle.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/lib/bootstrap-datepicker.min.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/bootstrap/js/bootstrap-datetimepicker.min.js}" charset="UTF-8"></script>
    <script th:src="@{/resources/js/base.js}"></script>
    <script src="/proyecto/resources/dist/js/jquery.jqGrid.min.js"></script>
    <script src="/proyecto/resources/dist/js/grid.locale-en.js"></script>
    <script th:src="@{/resources/js/pedidosForm.js}"></script>
    <script th:src="@{/resources/js/pedidos.js}"></script>

    <script th:src="@{~/proyecto/resources/js/lib/jquery.validate.min.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/lib/jquery.number.min.js}" charset="UTF-8"></script>
    <script type="text/javascript">
          $('#entrega, #montoTotal').number( true, 0, ',', '.' );
          //console.log($.number( 5020.2364, 2 )); // Outputs: 5,020.24)
    </script>
    <!--    <script th:src="@{~/proyecto/resources/js/lib/dropzone.js}"></script>
        <script th:src="@{~/proyecto/resources/js/upload_image.js}"></script> -->

</body>
</html>