<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>  
    <div th:include="include/head :: head" th:remove="tag"></div>
    <script th:src="@{~/proyecto/resources/js/lib/jquery-1.9.1.min.js}"></script>
    <script th:src="@{~/proyecto/resources/js/lib/jquery.validate.min.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/dist/css/style_image.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/resources/dist/css/style.css}" type="text/css"/>
    <title>Usuarios</title>
    <script th:inline="javascript">
        var usuario = /*[[${usuario}]]*/'';
    </script>
</head>
<body >
    <nav th:replace="include/navbar :: navbar"></nav>
    <div class="content-wrapper">
        <!-- Content Header (Page header) --> 
        <!-- Main content -->
        <section class="content">
            <div class="box box-info">

                <div class="widget-header widget-header-flat widget-header-large">
                    <h3 class="widget-title">
                        <span th:if="${usuario} == null" class="middle">Crear Usuario</span>
                        <span th:if="${editar}" class="middle">Editar Usuario</span>
                        <span th:if="!${editar} and ${usuario} != null" class="middle">Visualizar Usuario</span>
                    </h3>

                    <div class="widget-toolbar no-border">
                        <a sec:authorize="hasRole('Usuario.Editar')" id="botonEditar" th:if="!${editar} and ${usuario} != null" th:href="@{'/usuarios/editar/'+${usuario.id}}" class="btn btn-primary bigger" role="button">Editar</a>
                        <a th:href="@{/usuarios}" class="btn btn-primary btn-light bigger" role="button">
                            <i class="ace-icon fa fa-arrow-left"></i>
                            Volver
                        </a>                 
                    </div>   
                </div>
                <!-- <form:input path="fichero" type="file" class="hidden" />
                <form:input path="nuevoFichero" type="boolean" class="hidden" /> -->

                <form id="validation-form" class="form-horizontal dropzone" enctype="multipart/form-data">
                    <div class="box-body">
                        <div id="mensaje"/>   
                        <div class="col-xs-12">

                            <div id="user-profile-1" class="user-profile row" style="padding-top: 2em; padding-left: 1em; padding-right: 1em;">
                                <div class="col-xs-12 col-sm-3 center">
                                    <div>
                                        <div id="img-boton">
                                            <div class="profile-picture">
                                                <input  name="imagenPort" type="hidden"  class="form-control tableusuario-input" />
                                                <img th:if="${usuario} == null" id="imgPortada" style="max-width: 100%; height: auto" th:src="@{/resources/img/usuario.jpg}" alt="Seleccione una nueva imagen"/>

                                                <img th:if="${usuario} != null" id="imgPortada" style="max-width: 100%; height: auto" th:src="@{'/obtenerImagen/usuario/'+${usuario.id}}" alt="Seleccione una nueva imagen"/>

                                                <div class="caption">
                                                    <a th:if="${editar} and ${usuario} != null or ${usuario} == null" class="btn btn-warning boton-imagen" role="button" data-campo="imagenPort" data-ancho="200" data-alto="400" data-img="imgPortada">Elegir imagen</a>
                                                    <input class="form-control tableusuario-input hidden" name="imagenPortInput" id="imagenPortInput" type="file"/>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <input th:if="${usuario} == null" id="idUsuario" name="id" type="hidden"  class="form-control tableusuario-input" />
                                <input th:if="${usuario} != null" th:value="${usuario.id}" id="idUsuario" name="id" type="hidden"  class="form-control tableusuario-input" />

                                <div class="col-xs-12 col-sm-9">

                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-2 control-label">Documento(*)</label>
                                        <div class="col-lg-3">
                                            <input th:if="${usuario} != null" th:value="${usuario.documento}" id="documento" name="documento" type="text" placeholder="Documento" disabled="disabled" data-mask="" data-inputmask-regex="^[0-9]{5}([0-9])?([0-9])?([0-9])?([0-9])?$" class="form-control tableusuario-input "/> 
                                            <input th:if="${usuario} == null"  id="documento" name="documento" type="text" placeholder="Documento" data-mask="" data-inputmask-regex="^[0-9]{5}([0-9])?([0-9])?([0-9])?([0-9])?$"  class="form-control tableusuario-input "/>
                                            <span class="glyphicon form-control-feedback" id="documento1"></span> 
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-2 control-label">Alias(*)</label>
                                        <div class="col-lg-4">
                                            <input th:if="${usuario} == null"  id="alias" name="alias"  type="text" placeholder="Alias" class="form-control tableusuario-input "/> 
                                            <input th:if="${usuario} != null" th:value="${usuario.alias}" disabled="disabled" id="alias" name="alias"  type="text" placeholder="Alias" class="form-control tableusuario-input "/>
                                            <span class="glyphicon form-control-feedback" id="alias1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-2 control-label">Contraseña(*)</label>
                                        <div class="col-lg-4">
                                            <input th:if="${usuario} == null" th:value="${nulo}" id="claveAcceso" name="claveAcceso" type="password" placeholder="Contraseña" class="form-control tableusuario-input "/> 
                                            <input th:if="!${editar} and ${usuario} != null" disabled="disabled" th:value="${usuario.claveAcceso}" id="claveAcceso" name="claveAcceso" type="password" placeholder="Contraseña" class="form-control tableusuario-input "/> 
                                            <input th:if="${editar} and ${usuario} != null"  th:value="${usuario.claveAcceso}" id="claveAcceso" name="claveAcceso" type="password" placeholder="Contraseña" class="form-control tableusuario-input "/> 
                                            <span class="glyphicon form-control-feedback" id="claveAcceso1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-2 control-label">Nombre(*)</label>
                                        <div class="col-lg-6">
                                            <input th:if="${usuario} == null" id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control tableusuario-input "/> 
                                            <input th:if="${editar} and ${usuario} != null" th:value="${usuario.nombre}" id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control tableusuario-input "/>
                                            <input th:if="!${editar} and ${usuario} != null" disabled="disabled" th:value="${usuario.nombre}" id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control tableusuario-input "/>
                                            <span class="glyphicon form-control-feedback" id="nombre1"></span>
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-2 control-label">Apellido(*)</label>
                                        <div class="col-lg-6">
                                            <input th:if="${usuario} == null" id="apellido" name="apellido" type="text" placeholder="Apellido" class="form-control tableusuario-input "/> 
                                            <input th:if="${editar} and ${usuario} != null" th:value="${usuario.apellido}" id="apellido" name="apellido" type="text" placeholder="Apellido" class="form-control tableusuario-input "/>
                                            <input th:if="!${editar} and ${usuario} != null" disabled="disabled" th:value="${usuario.apellido}" id="apellido" name="apellido" type="text" placeholder="Apellido" class="form-control tableusuario-input "/>
                                            <span class="glyphicon form-control-feedback" id="apellido1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-2 control-label">Email(*)</label>
                                        <div class="col-lg-6">
                                            <input th:if="${usuario} == null" id="email" name="email" type="text" placeholder="Email" class="form-control tableusuario-input "/> 
                                            <input th:if="${editar} and ${usuario} != null" th:value="${usuario.email}" id="email" name="email" type="text" placeholder="Email" class="form-control tableusuario-input "/> 
                                            <input th:if="!${editar} and ${usuario} != null" disabled="disabled" th:value="${usuario.email}" id="email" name="email" type="text" placeholder="Email" class="form-control tableusuario-input "/> 
                                            <span class="glyphicon form-control-feedback" id="email1"></span>
                                        </div>
                                    </div>


                                </div>
                                <div class="row">

                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-2 control-label">Telefono(*)</label>
                                        <div class="col-lg-3">
                                            <input th:if="${usuario} == null" id="telefono" name="telefono" type="text" placeholder="Telefono" data-mask="" data-inputmask="'mask': '(999)999-999'" class="form-control tableusuario-input "/> 
                                            <input th:if="${editar} and ${usuario} != null" th:value="${usuario.telefono}" id="telefono" name="telefono" type="text" placeholder="Telefono" data-mask="" data-inputmask="'mask': '(999)999-999'" class="form-control tableusuario-input "/>
                                            <input th:if="!${editar} and ${usuario} != null" disabled="disabled" th:value="${usuario.telefono}" id="telefono" name="telefono" type="text" placeholder="Telefono" data-mask="" data-inputmask="'mask': '(999)999-999'" class="form-control tableusuario-input "/>
                                            <span class="glyphicon form-control-feedback" id="telefono1"></span>
                                        </div>
                                    </div>

                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-2 control-label">Telefono Movil</label>
                                        <div class="col-lg-3">
                                            <input th:if="${usuario} == null" id="telefonoMovil" name="telefonoMovil" type="text" placeholder="Telefono Movil" data-mask="" data-inputmask="'mask': '(0\\999)999-999'" class="form-control tableusuario-input " /> 
                                            <input th:if="${editar} and ${usuario} != null" th:value="${usuario.telefonoMovil}" id="telefonoMovil" name="telefonoMovil" type="text" placeholder="Telefono Movil" data-mask="" data-inputmask="'mask': '(0\\999)999-999'" class="form-control tableusuario-input " />
                                            <input th:if="!${editar} and ${usuario} != null" disabled="disabled" th:value="${usuario.telefonoMovil}" id="telefonoMovil" name="telefonoMovil" type="text" placeholder="Telefono Movil" data-mask="" data-inputmask="'mask': '(0\\999)999-999'" class="form-control tableusuario-input " />
                                            <span class="glyphicon form-control-feedback" id="telefonoMovil1"></span>
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                        <label class="col-lg-2 control-label">Direccion</label>
                                        <div class="col-lg-6">
                                            <input th:if="${usuario} == null" id="direccion" type="text" placeholder="Direccion" class="form-control tableusuario-input " /> 
                                            <input th:if="${editar} and ${usuario} != null" th:value="${usuario.direccion}" id="direccion" type="text" placeholder="Direccion" class="form-control tableusuario-input " />
                                            <input th:if="!${editar} and ${usuario} != null" disabled="disabled" th:value="${usuario.direccion}" id="direccion" type="text" placeholder="Direccion" class="form-control tableusuario-input " />
                                            <span class="glyphicon form-control-feedback" id="direccion1"></span>
                                        </div>
                                    </div>


                                    <div sec:authorize="hasRole('SuperUsuario')">
                                        <div class="form-group  col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                            <label class="col-lg-2 control-label">Empresa(*)</label>
                                            <div class="col-lg-6">
                                                <select th:if="${usuario} != null" disabled="disabled" class="form-control tableusuario-input " id="empresa"  name="empresa" data-placeholder="Seleccione Empresa">

                                                    <option value="">Seleccione Empresa</option>
                                                    <option th:if="${usuario} == null" th:each="empresa : ${empresas}" th:value="${empresa.id}" th:text="${empresa.nombre}"/>
                                                    <th:block th:if="${usuario} != null" th:each="empresa : ${empresas}">
                                                        <option th:if="${usuario.idEmpresa} == ${empresa[id]}" selected="selected" th:value="${empresa.id}" th:text="${empresa.nombre}"/>
                                                        <option th:if="${usuario.idEmpresa} != ${empresa[id]}" th:value="${empresa.id}" th:text="${empresa.nombre}"/>                                  
                                                    </th:block>
                                                </select>
                                            </div>
                                            <div class="col-lg-6">
                                                <select th:if="${usuario} == null" class="form-control  col-xs-12 col-sm-12 col-lg-12 col-md-12 tableusuario-input " id="empresa"  name="empresa" data-placeholder="Seleccione Empresa">

                                                    <option value="">Seleccione Empresa</option>
                                                    <option th:if="${usuario} == null" th:each="empresa : ${empresas}" th:value="${empresa.id}" th:text="${empresa.nombre}"/>
                                                    <th:block th:if="${usuario} != null" th:each="empresa : ${empresas}">
                                                        <option th:if="${usuario.idEmpresa} == ${empresa[id]}" selected="selected" th:value="${empresa.id}" th:text="${empresa.nombre}"/>
                                                        <option th:if="${usuario.idEmpresa} != ${empresa[id]}" th:value="${empresa.id}" th:text="${empresa.nombre}"/>                                  
                                                    </th:block>
                                                </select>
                                            </div>    

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="clearfix box-footer" th:if="${editar} and ${usuario} != null or ${usuario} == null">
                        <div class="col-md-offset-3 col-md-9">
                            <button id="aceptar" class="btn btn-primary" type="submit">
                                <i class="fa fa-check bigger-110"></i>
                                Guardar
                            </button>
                            &nbsp; &nbsp; &nbsp;
                            <button id="cancelar" class="btn btn-default" type="reset" >
                                <i class="fa fa-undo bigger-110"></i>
                                Cancelar
                            </button>

                        </div>
                    </div>

                </form>
            </div>
            <!-- Your Page Content Here -->

        </section><!-- /.content -->
    </div>
    <div th:include="include/scripts :: [id='scripts']" th:remove="tag"></div>
    <script th:src="@{~/proyecto/resources/js/lib/bootstrap-editable.min.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/dist/js/jquery.inputmask.bundle.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/usuario.js}" charset="UTF-8"></script>
    <script th:src="@{~/proyecto/resources/js/base.js}" charset="UTF-8"></script>

    <script th:src="@{~/proyecto/resources/js/lib/jquery.validate.min.js}" charset="UTF-8"></script>
    <!--    <script th:src="@{~/proyecto/resources/js/lib/dropzone.js}"></script>
        <script th:src="@{~/proyecto/resources/js/upload_image.js}"></script> -->

</body>
</html>