<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    <div th:include="include/head :: head" th:remove="tag"></div>
    <title>vehiculos vendidos</title>
    <link th:href="@{/resources/css/easyui.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/icon.css}" rel="stylesheet" />

</head>
<body>
    <nav th:replace="include/navbar :: navbar"></nav>
    <div class="content-wrapper">
        <!--<div class="tabladd-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Cliente.Crear'')')}"/>-->
        <div class="tabledit-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Vehiculo.Editar'')')}"/>
        <div class="tablactivate-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Vehiculo.Activar'')')}"/>
        <div class="tabldelete-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Vehiculo.Desactivar'')')}"/>
        <div class="tablvisualizar-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Vehiculo.Visualizar'')')}"/>
        <div class="tablasignar-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''SuperUsuario'')')}"/>

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Vehiculos vendidos
                <small>Lista de vehiculos vendidos.</small>
            </h1>
            <ol class="breadcrumb">
                <!--<a sec:authorize="hasRole('Cliente.Crear')"  href="clientes/crear" class="btn btn-primary" role="button">Crear</a>-->
            </ol>
        </section>
        <hr/>
        
        <!-- Modal compra -->
        <div class="modal fade" id="venta-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Venta</h4>
              </div>
              <div class="modal-body">
                        
                            
                                <form id="validation-formVenta" class="form-horizontal dropzone" enctype="multipart/form-data">
                                    <div class="box-body">

                                        <div class="col-xs-12">
                                            <div id="mensaje"></div>
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                                    <input  id="idClienteConta" name="cliente.id" type="hidden"  class="form-control tableusuario-input" />
                                                    <input  id="idVenta" name="id" type="hidden" th:value="${id}" class="form-control tableusuario-input" />
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Nro. Factura</label>
                                                        <div class="col-lg-6">
                                                            <input id="nroFacturaVenta" name="nroFactura" type="text" data-mask="" data-inputmask="'mask': '999-999[-999999]'" placeholder="Nro. de factura" class="form-control tableusuario-input " disabled="disabled"/> 
                                                            <span class="glyphicon form-control-feedback" id="factura1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-6 control-label">Monto Total:</label>
                                                        <div class="col-lg-6">
                                                            <input id="montoTotalVenta" name="montoTotal" type="text" disabled="disabled" placeholder="Monto Total" class="form-control tableusuario-input "/> 
                                                            <span class="glyphicon form-control-feedback" id="factura1"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Cliente</label>
                                                        <div class="col-lg-6">
                                                            <input id="nombreVenta" name="nombre" type="text" placeholder="Nombre" class="form-control tableusuario-input " disabled="disabled"/> 
                                                            <span class="glyphicon form-control-feedback" id="nombre1"></span>
                                                        </div>
                                                    </div>

                                                    

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                                        <label class="col-lg-2 control-label">Forma de pago</label>
                                                        <div class="radio col-lg-2">
                                                            <label>
                                                                <input type="radio" name="formaPagoVenta" id="contadoVenta" value="CONTADO" class="tableusuario-input " disabled="disabled"/>
                                                                Contado
                                                            </label>
                                                        </div>
                                                        <div class="radio col-lg-2">
                                                            <label>
                                                                <input type="radio" name="formaPagoVenta" id="creditoVenta" value="CREDITO" class="tableusuario-input " disabled="disabled"/>
                                                                Credito
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div id="formCreditoVenta" style="display:none;">
                                                        <div class="row">

                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                                <label class="col-lg-4 control-label">Entrega:</label>
                                                                <div class="col-lg-8">
                                                                    <input id="entregaVenta" name="entrega" type="text" placeholder="Entrega" class="form-control tableusuario-input " disabled="disabled"/> 
                                                                    <span class="glyphicon form-control-feedback" id="factura1"></span>
                                                                </div>
                                                            </div>

                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-3 col-md-3">
                                                                <label class="col-lg-5 control-label">%Interes</label>
                                                                <div class="col-lg-7">
                                                                    <input   id="interesVenta" name="porcentajeInteresCredito" type="text"  class="form-control tableusuario-input" disabled="disabled"/> 
                                                                    <span class="glyphicon form-control-feedback" id="interes1" style="right: 15px"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                                <label class="col-lg-5 control-label">Monto Interes</label>
                                                                <div class="col-lg-7">
                                                                    <input   id="montoInteresVenta" disabled="disabled" name="montoInteres" type="text" placeholder="Monto Interes" class="form-control tableusuario-input"/> 
                                                                    <span class="glyphicon form-control-feedback" id="montoInteres1"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-3 col-md-3">
                                                                <label class="col-lg-5 control-label">Cuotas</label>
                                                                <div class="col-lg-7">
                                                                    <input  id="cuotasVenta" name="cantidadCuotas" type="number" min="1" class="form-control tableusuario-input" disabled="disabled"/> 
                                                                    <span class="glyphicon form-control-feedback" id="cuotas1" style="right: 15px"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                                <label class="col-lg-5 control-label">Monto Cuotas</label>
                                                                <div class="col-lg-7">
                                                                    <input   id="montoCuotaVenta" disabled="disabled" name="montoCuota" type="text" placeholder="Monto Cuotas" class="form-control tableusuario-input"/> 
                                                                    <span class="glyphicon form-control-feedback" id="montoCuota1"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                                <label class="col-lg-4 control-label">Fecha 1ra cuota</label>
                                                                <div class="col-lg-5">

                                                                    <input class="form-control tableusuario-input date-picker" id="id-date-pickerVenta" name="cuotaFecha" type="text" data-date-format="yyyy-mm-dd" disabled="disabled" />

                                                                    <span class="glyphicon form-control-feedback" id="fechaCuota1"></span>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                                <label class="col-lg-6 control-label">%Interes/Moratorio</label>
                                                                <div class="col-lg-4">
                                                                    <input   id="moraInteresVenta" disabled="disabled" name="moraInteres" type="text"  class="form-control tableusuario-input"/> 
                                                                    <span class="glyphicon form-control-feedback" id="interesMora1" style="right: 15px"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                                <label class="col-lg-5 control-label">Dias Grac.</label>
                                                                <div class="col-lg-4">
                                                                    <input  id="diasGraciaVenta" disabled="disabled" name="diasGracia" type="number"  class="form-control tableusuario-input"/> 
                                                                    <span class="glyphicon form-control-feedback" id="cuotas1" style="right: 15px"></span>
                                                                </div>
                                                            </div>

                                                        </div>    
                                                    </div> 
                                                    
                                                    <div id="formDescuentoVenta" style="display:none;">
                                                        <div class="row">
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                                <label class="col-lg-6 control-label">Descuento %</label>
                                                                <div class="col-lg-3">
                                                                    <input   id="descuentoVenta" name="descuento" type="text" class="form-control tableusuario-input" disabled="disabled"/> 
                                                                    <span class="glyphicon form-control-feedback" id="descuento1" style="right: 15px"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                                <label class="col-lg-6 control-label">Monto Descuento</label>
                                                                <div class="col-lg-6">
                                                                    <input   id="montoDescuentoVenta" disabled="disabled" name="montoDescuento" type="text" placeholder="Monto Descuento" class="form-control tableusuario-input"/> 
                                                                    <span class="glyphicon form-control-feedback" id="montoDescuento1"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Saldo</label>
                                                        <div class="col-lg-6">
                                                            <input  id="saldoVenta" type="text" name="saldo" disabled="disabled" placeholder="Saldo" class="form-control tableusuario-input " /> 
                                                            <span class="glyphicon form-control-feedback" id="saldo1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Neto a pagar</label>
                                                        <div class="col-lg-6">
                                                            <input  id="netoVenta" type="text" name="neto" disabled="disabled" placeholder="Neto a pagar" class="form-control tableusuario-input " /> 
                                                            <span class="glyphicon form-control-feedback" id="neto1"></span>
                                                        </div>
                                                    </div>

                                                </div>                           
                                            </div>

                                        </div>
                                    </div>

                                </form>
                                  
                            

                            

                        
                    </div><!--fin tab-->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <a  id="irVentaButton" href="" type="button" class="btn btn-primary" target="_blank">Ir a venta</a>
                    
              </div>
            </div>
          </div><!-- fin modal compra -->
    
          
        <!-- Modal venta -->
        <div class="modal fade" id="compra-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Compra</h4>
              </div>
              <div class="modal-body">
                        
                            
                                <form id="validation-formCompra" class="form-horizontal dropzone" enctype="multipart/form-data">
                                    <div class="box-body">

                                        <div class="col-xs-12">
                                            <div id="mensaje"></div>
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                                    <input  id="idProveedorConta" name="proveedor.id" type="hidden"  class="form-control tableusuario-input" />
                                                    <input  id="idCompra" name="id" type="hidden" th:value="${id}" class="form-control tableusuario-input" />
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Nro. Factura</label>
                                                        <div class="col-lg-6">
                                                            <input id="nroFactura" name="nroFactura" type="text" data-mask="" data-inputmask="'mask': '999-999[-999999]'" placeholder="Nro. de factura" class="form-control tableusuario-input " disabled="disabled"/> 
                                                            <span class="glyphicon form-control-feedback" id="factura1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-6 control-label">Monto Total:</label>
                                                        <div class="col-lg-6">
                                                            <input id="montoTotal" name="montoTotal" type="text" disabled="disabled" placeholder="Monto Total" class="form-control tableusuario-input "/> 
                                                            <span class="glyphicon form-control-feedback" id="factura1"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Proveedor</label>
                                                        <div class="col-lg-6">
                                                            <input id="nombre" name="nombre" type="text" placeholder="Nombre" class="form-control tableusuario-input " disabled="disabled"/> 
                                                            <span class="glyphicon form-control-feedback" id="nombre1"></span>
                                                        </div>
                                                    </div>

                                                    

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                                        <label class="col-lg-2 control-label">Forma de pago</label>
                                                        <div class="radio col-lg-2">
                                                            <label>
                                                                <input type="radio" name="formaPago" id="contado" value="CONTADO" class="tableusuario-input " disabled="disabled"/>
                                                                Contado
                                                            </label>
                                                        </div>
                                                        <div class="radio col-lg-2">
                                                            <label>
                                                                <input type="radio" name="formaPago" id="credito" value="CREDITO" class="tableusuario-input " disabled="disabled"/>
                                                                Credito
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div id="formCredito" style="display:none;">
                                                        <div class="row">

                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                                <label class="col-lg-4 control-label">Entrega:</label>
                                                                <div class="col-lg-8">
                                                                    <input id="entrega" name="entrega" type="text" placeholder="Entrega" class="form-control tableusuario-input " disabled="disabled"/> 
                                                                    <span class="glyphicon form-control-feedback" id="factura1"></span>
                                                                </div>
                                                            </div>

                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-3 col-md-3">
                                                                <label class="col-lg-5 control-label">%Interes</label>
                                                                <div class="col-lg-7">
                                                                    <input   id="interes" name="porcentajeInteresCredito" type="text"  class="form-control tableusuario-input" disabled="disabled"/> 
                                                                    <span class="glyphicon form-control-feedback" id="interes1" style="right: 15px"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                                <label class="col-lg-5 control-label">Monto Interes</label>
                                                                <div class="col-lg-7">
                                                                    <input   id="montoInteres" disabled="disabled" name="montoInteres" type="text" placeholder="Monto Interes" class="form-control tableusuario-input"/> 
                                                                    <span class="glyphicon form-control-feedback" id="montoInteres1"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-3 col-md-3">
                                                                <label class="col-lg-5 control-label">Cuotas</label>
                                                                <div class="col-lg-7">
                                                                    <input  id="cuotas" name="cantidadCuotas" type="number" min="1" class="form-control tableusuario-input" disabled="disabled"/> 
                                                                    <span class="glyphicon form-control-feedback" id="cuotas1" style="right: 15px"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                                <label class="col-lg-5 control-label">Monto Cuotas</label>
                                                                <div class="col-lg-7">
                                                                    <input   id="montoCuota" disabled="disabled" name="montoCuota" type="text" placeholder="Monto Cuotas" class="form-control tableusuario-input"/> 
                                                                    <span class="glyphicon form-control-feedback" id="montoCuota1"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                                <label class="col-lg-4 control-label">Fecha 1ra cuota</label>
                                                                <div class="col-lg-5">

                                                                    <input class="form-control tableusuario-input date-picker" id="id-date-picker" name="cuotaFecha" type="text" data-date-format="yyyy-mm-dd" disabled="disabled" />

                                                                    <span class="glyphicon form-control-feedback" id="fechaCuota1"></span>
                                                                </div>
                                                            </div>

                                                        </div>    
                                                    </div> 
                                                    <div id="tipo-descuento" class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12" style="display:none;">
                                                        <label class="col-lg-2 control-label">Tipo de descuento</label>
                                                        <div class="radio col-lg-2">
                                                            <label>
                                                                <input type="radio" name="tipoDescuento" id="general" value="GENERAL" class="tableusuario-input " disabled="disabled"/>
                                                                General
                                                            </label>
                                                        </div>
                                                        <div class="radio col-lg-2">
                                                            <label>
                                                                <input type="radio" name="tipoDescuento" id="detallado" value="DETALLADO" class="tableusuario-input "/>
                                                                Detallado
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div id="formDescuento" style="display:none;">
                                                        <div class="row">
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                                <label class="col-lg-6 control-label">Descuento %</label>
                                                                <div class="col-lg-3">
                                                                    <input   id="descuento" name="descuento" type="text" class="form-control tableusuario-input" disabled="disabled"/> 
                                                                    <span class="glyphicon form-control-feedback" id="descuento1" style="right: 15px"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                                <label class="col-lg-6 control-label">Monto Descuento</label>
                                                                <div class="col-lg-6">
                                                                    <input   id="montoDescuento" disabled="disabled" name="montoDescuento" type="text" placeholder="Monto Descuento" class="form-control tableusuario-input"/> 
                                                                    <span class="glyphicon form-control-feedback" id="montoDescuento1"></span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Saldo</label>
                                                        <div class="col-lg-6">
                                                            <input  id="saldo" type="text" name="saldo" disabled="disabled" placeholder="Saldo" class="form-control tableusuario-input " /> 
                                                            <span class="glyphicon form-control-feedback" id="saldo1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-6 col-md-6">
                                                        <label class="col-lg-4 control-label">Neto a pagar</label>
                                                        <div class="col-lg-6">
                                                            <input  id="neto" type="text" name="neto" disabled="disabled" placeholder="Neto a pagar" class="form-control tableusuario-input " /> 
                                                            <span class="glyphicon form-control-feedback" id="neto1"></span>
                                                        </div>
                                                    </div>

                                                </div>                           
                                            </div>

                                        </div>
                                    </div>

                                </form>
                                  
                            

                            

                        
                    </div><!--fin tab-->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <a  id="irCompraButton" href="" type="button" class="btn btn-primary" target="_blank">Ir a compra</a>
                    
              </div>
            </div>
          </div><!-- fin modal venta -->
          
          
          <!-- Modal devolucion -->
        <div class="modal fade" id="devolucion-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Devolución</h4>
              </div>
              <div class="modal-body">
                        
                            
                                <form id="validation-formDevolucion" class="form-horizontal dropzone" enctype="multipart/form-data">
                                    <div class="box-body">

                                        <div class="col-xs-12">
                                            <div id="mensajeForm"></div>
                                            
                                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                                    
                                                    <input  id="idDevolucion" name="id" type="hidden" class="form-control tableusuario-input" />
                                                    <input  id="idVehiculoDevolucion" name="vehiculo.id" type="hidden" class="form-control tableusuario-input" />
                                                    <input  id="idVentaDevolucion" name="venta.id" type="hidden" class="form-control tableusuario-input" />
                                                    <input  id="idClienteDevolucion" name="cliente.id" type="hidden" class="form-control tableusuario-input" />
                                                    
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                        <label class="col-lg-4 control-label">Cliente</label>
                                                        <div class="col-lg-8">
                                                            <input id="nombreDevolucion" name="nombreDevolucion" type="text" placeholder="Nombre Cliente" class="form-control tableusuario-input" disabled="disabled"/> 
                                                            <span class="glyphicon form-control-feedback" id="nombreDevolucion1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                        <label class="col-lg-4 control-label">Nro. Factura</label>
                                                        <div class="col-lg-8">
                                                            <input id="nroFacturaDevolucion" name="nroFacturaDevolucion" type="text" data-mask="" data-inputmask="'mask': '999-999[-999999]'" placeholder="Nro. de factura" class="form-control tableusuario-input " disabled="disabled"/> 
                                                            <span class="glyphicon form-control-feedback" id="nroFacturaDevolucion1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                        <label class="col-lg-4 control-label">Monto Total</label>
                                                        <div class="col-lg-8">
                                                            <input id="montoTotalDevolucion" name="montoTotalDevolucion" type="text" disabled="disabled" placeholder="Monto Total" class="form-control tableusuario-input "/> 
                                                            <span class="glyphicon form-control-feedback" id="montoTotalDevolucion1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                        
                                                        <label class="col-lg-4 control-label">Chasis</label>
                                                        <div class="col-lg-8">
                                                            <input id="chasisDevolucion" name="chasisDevolucion" type="text" placeholder="Chasis" class="form-control tableusuario-input " disabled="disabled"/> 
                                                            <span class="glyphicon form-control-feedback" id="chasisDevolucion1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                        <label class="col-lg-4 control-label">Costo Vehiculo</label>
                                                        <div class="col-lg-8">
                                                            <input  id="costoDevolucion" type="text" name="costoDevolucion" disabled="disabled" placeholder="Costo" class="form-control tableusuario-input " /> 
                                                            <span class="glyphicon form-control-feedback" id="costoDevolucion1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                        
                                                    </div>
                                                    </div>
                                                    <div class="row">
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                        <label class="col-lg-4 control-label">Marca</label>
                                                        <div class="col-lg-8">
                                                            <input  id="marcaDevolucion" type="text" name="marcaDevolucion" disabled="disabled" placeholder="Marca" class="form-control tableusuario-input " /> 
                                                            <span class="glyphicon form-control-feedback" id="marcaDevolucion1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                        <label class="col-lg-4 control-label">Modelo</label>
                                                        <div class="col-lg-8">
                                                            <input  id="modeloDevolucion" type="text" name="modeloDevolucion" disabled="disabled" placeholder="Modelo" class="form-control tableusuario-input " /> 
                                                            <span class="glyphicon form-control-feedback" id="modeloDevolucion1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-4 col-md-4">
                                                        
                                                    </div>
                                                    </div>
                                                    
                                                    
                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                                        <label class="col-lg-2 control-label">Monto Recepción</label>
                                                        <div class="col-lg-6">
                                                            <input  id="montoRecepcion" type="text" name="montoRecepcion" placeholder="Monto Recepcion" class="form-control tableusuario-input " /> 
                                                            <span class="glyphicon form-control-feedback" id="montoRecepcion1" style="right: 15px"></span>
                                                        </div>
                                                    </div>
                                                    
                                                   

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                                        <label class="col-lg-2 control-label">Estado del Vehiculo</label>
                                                        <div class="col-lg-10">
                                                            <textarea rows="3"   id="estadoVehiculo" name="estadoVehiculo" type="text" placeholder="Estado del Vehiculo"  class="form-control limited tableusuario-input " />
                                                            <span class="glyphicon form-control-feedback" id="estadoVehiculo1" style="right: 15px"></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                                        <label class="col-lg-2 control-label">Motivo Devolución</label>
                                                        <div class="col-lg-10">
                                                            <textarea rows="3"   id="motivoDevolucion" name="motivoDevolucion" type="text" placeholder="Motivo"  class="form-control limited tableusuario-input " />
                                                            <span class="glyphicon form-control-feedback" id="motivoDevolucion1" style="right: 15px"></span>
                                                        </div>
                                                    </div>

                                                </div>                           
                                            

                                        </div>
                                    </div>

                                </form>
                                  
                            

                            

                        
                    </div><!--fin tab-->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="guardarDevolucion" type="button" class="btn btn-primary">Guardar</button>
                    
              </div>
            </div>
          </div><!-- fin modal devolucion -->
          
        
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div id="mensaje"></div>
                    <form class="form-search">
                        <span class="input-icon">
                            <input id="globalSearchText" placeholder="Buscar ..." class="nav-search-input"  autocomplete="off" type="text"/>
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                        <button id="globalSearch" type="button" class="btn btn-info btn-sm">
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </button>
                    </form>
                    <table id="grid" style="width: 100%;"></table>
                    <div id="grid-pager"></div>

                </div>
            </div>

        </section>

    </div>    
    <!-- /.content -->
    <div th:include="include/scripts :: [id='scripts']" th:remove="tag"></div>
    <script th:src="@{/resources/js/base.js}"></script>
    <script src="/proyecto/resources/dist/js/jquery.jqGrid.min.js"></script>
    <script src="/proyecto/resources/dist/js/grid.locale-en.js"></script>
    <script th:src="@{/resources/js/vendidos/vendidosListar.js}"></script>
    
    <script th:src="@{~/proyecto/resources/js/lib/jquery.validate.min.js}" charset="UTF-8"></script>
    <script th:src="@{/resources/js/vendidos/devolucionForm.js}"></script>
    <script th:src="@{~/proyecto/resources/js/lib/jquery.number.min.js}" charset="UTF-8"></script>
    <script type="text/javascript">
        $('#entrega, #montoTotal, #montoDescuento, #montoCuota, #montoInteres, #saldo, #neto, #interes, #interesMora, #entregaVenta, #montoTotalVenta, #montoDescuentoVenta, #montoCuotaVenta, #montoInteresVenta, #saldoVenta, #netoVenta, #interesVenta, #interesMoraVenta, #montoRecepcion, #montoTotalDevolucion, #costoDevolucion').number(true, 0, ',', '.');
        //console.log($.number( 5020.2364, 2 )); // Outputs: 5,020.24)
    </script>


</body>
</html>

