<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <div th:include="include/head :: head" th:remove="tag"></div>

        <link rel="stylesheet" th:href="@{/resources/dist/css/dataTables.bootstrap.css}" type="text/css"/>
        <script th:inline="javascript">  
            var roles = /*[[${roles}]]*/'';
        </script>
        
    </head>
<body>
    <nav th:replace="include/navbar :: navbar"></nav>
    <div class="content-wrapper">
        
         <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Asignar Rol
                <small>Solo se puede asignar un rol al usuario.</small>
            </h1>
            
        </section>
        <hr/>
        <!-- Main content -->
        <section class="content">
            <div class="dataTables_wrapper form-inline no-footer">
                <table class="table table-striped table-bordered table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable" id="example1">
                    <div class="" id="mensaje" style="display: none; float: none;"></div>
                    <thead>
                        <tr>
                            <td>USUARIO</td>
                            <th>ROL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--<th:block th:each='usuario : ${usuarios}'>-->
                            <tr>
                                <input class="tabledit-input tabledit-identifier" type="hidden" th:name="id" th:value="${usuario.id}" disabled=""/>

                                <td class="tabledit-view-mode">
                                    <span  style="display: inline;"  th:text="${usuario.nombre}"></span>
                                    <input class="tabledit-input form-control input-sm" type="hidden" th:name="nombre" th:value="${usuario.nombre}" style="display: none;" disabled=""/>
                                </td>
                                <td class="tabledit-view-mode">
                                    <span  style="display: inline;"  th:text="${usuario.rolNombre}"></span>
                                </td> 
                                
                            </tr>
                           <!--</th:block>-->     
                    </tbody>
                </table>
            </div>
              
        </section>

    </div>    
    <!-- /.content -->
    <div th:include="include/scripts :: [id='scripts']" th:remove="tag"></div>
    <script src="/proyecto/resources/js/asignarRol.js"></script>  
    <script src="/proyecto/resources/dist/js/jquery.tabledit.js"></script>
    <script src="/proyecto/resources/dist/js/jquery.dataTables.js"></script>
    <script src="/proyecto/resources/dist/js/dataTables.bootstrap.min.js"></script>
    

</body>
</html>