<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="header.html">
    <head>
    <meta layout:fragment="meta"> 
      <meta charset="utf-8"/>
    </meta>
    <title layout:fragment="title"> 
      Empresas
    </title>
        <div layout:fragment="styles">
            <link rel="stylesheet" th:href="@{/resources/dist/css/dataTables.bootstrap.css}" type="text/css"/>
        </div>
    </head>
<body>
    <div layout:fragment="body">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Empresas
                <small>Lista de empresas del sistema.</small>
            </h1>
            <ol class="breadcrumb">
                <a href="empresas/crear" class="btn btn-primary" role="button">Crear</a>
                
            </ol>
        </section>
        <hr/>
        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="dataTables_wrapper form-inline no-footer">
                        <div id="mensaje"></div>
                       
                            <table class="table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable" id="table_bug_report">
                                <thead>
                                    <tr>

                                        <th>NOMBRE</th>
                                        <th>RUC</th>
                                        <th class="hidden-480">DESCRIPCION</th>
                                        <th class="hidden-480">DIRECCION</th>
                                        <th class="hidden-480">TELEFONO</th>
                                        <th class="hidden-480">STATUS</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <th:block th:each='empresa : ${empresas}'>
                                        <tr>
                                            <td class="hidden-480" th:text="${empresa.nombre}"></td>
                                            <td class="hidden-480" th:text="${empresa.ruc}"></td>
                                            <td class="hidden-480" th:text="${empresa.descripcion}"></td>
                                            <td class="hidden-480" th:text="${empresa.direccion}"></td>
                                            <td class="hidden-480" th:text="${empresa.telefono}"></td>
                                            <td class="hidden-480">
                                                <span th:if="${empresa.activo} == 'S'" class="label label-success">Activo</span>
                                                <span th:if="${empresa.activo} == 'N'" class="label label-danger">Inactivo</span>
                                            </td>
                                            <td>
                                                <a th:if="${empresa.activo} == 'S'" class="btn btn-xs btn-info" th:href="@{'/empresas/'+${empresa.id}+'/editar'}"> <i class="ace-icon fa fa-pencil bigger-120"></i>
                                                </a>

                                                <a class="btn btn-xs btn-info" th:href="@{'/empresas/'+${empresa.id}+'/visualizar'}"> <i class="ace-icon fa fa-external-link"></i>
                                                </a>

                                                <button th:if="${empresa.activo} == 'N'" th:onclick="'activar(\'' + ${empresa.id} + '\');'" class="btn btn-xs btn-success" title="Activar">
                                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                                </button>
                                                <button th:if="${empresa.activo} == 'S'" th:onclick="'desactivar(\'' + ${empresa.id} + '\');'" class="btn btn-xs btn-danger" title="Desactivar">
                                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </th:block>

                                </tbody>
                            </table>
                        
                    </div>
                </div>
            </div>
            
        </section>

    </div>    
    <!-- /.content -->
    <div layout:fragment="scripts">
    <script th:src="@{/resources/js/empresas.js}"></script>

    <script src="/proyecto/resources/dist/js/jquery.dataTables.min.js"></script>
    <script src="/proyecto/resources/dist/js/dataTables.bootstrap.min.js"></script>
    <script src="/proyecto/resources/dist/js/empresas.table.js" charset="utf-8"></script>

    </div>

</body>
</html>