<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="header.html">
   <head>  

  </head>
<body >

<div layout:fragment="body">
    <!-- Content Header (Page header) -->
    <section class="content-header">
       <h1>
        
      </h1>
      <ol class="breadcrumb">
        <a id="botonEditar" th:if="${tipo} == 'Visualizar'" th:href="@{'/empresas/'+${empresa.id}+'/editar'}" class="btn btn-primary" role="button">Editar</a>
        <a th:if="${tipo} == 'Visualizar'" th:href="@{/empresas}" class="btn btn-primary" role="button">Volver</a>
      </ol>
    </section> 
    <!-- Main content -->
    <section class="content">
            <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Insertar Datos</h3>
                </div>
                <div id="mensaje"/> 
               <form id="formUsuario" class="form-horizontal">
                  <div class="box-body"> 
                       <input id="idEmpresa" type="hidden" placeholder="Nombre" class="form-control"/>  
                       <div class="form-group"><label class="col-lg-2 control-label">Ruc</label>

                           <div class="col-lg-6"><input id="ruc" type="text" placeholder="RUC" class="form-control"/>
                               </div>
                       </div>
                       <div class="form-group"><label class="col-lg-2 control-label">Nombre</label>

                           <div class="col-lg-6"><input id="nombre" type="text" placeholder="Nombre" class="form-control"> 
                               </input>
                               </div>
                       </div>
                       <div class="form-group"><label class="col-lg-2 control-label">Direccion</label>

                           <div class="col-lg-6"><input id="direccion" type="text" placeholder="Direccion" class="input-group"/>
                               </div>
                       </div>
                       <div class="form-group"><label class="col-lg-2 control-label">Descrpcion</label>

                           <div class="col-lg-6"><input id="descripcion" type="text" placeholder="Descripcion" class="form-control"/>
                               </div>
                       </div>
                       <div class="form-group"><label class="col-lg-2 control-label">Telefono</label>

                           <div class="col-lg-6"><input id="telefono" type="text" placeholder="Telefono" class="input-medium bfh-phone" data-format="+595 (ddd) ddd-dddd"/>
                               </div>
                       </div>
                       <div class="form-group"><label class="col-lg-2 control-label">Telefono Movil</label>

                           <div class="col-lg-6"><input id="telefonoMovil" type="text" placeholder="Telefono" class="input-medium bfh-phone" data-format="+595 0ddd dd dd dd"/>
                               </div>
                       </div>
                       <div class="form-group"><label  class="col-lg-2 control-label">Email</label>

                               <div class="col-lg-6"><input id="email" type="email" placeholder="Email" class="form-control"/>
                               </div>
                       </div>
                       <h2>
                           Contacto
                         </h2>
                       <div class="form-group"><label class="col-lg-2 control-label">Nombre del Contacto</label>

                           <div class="col-lg-6"><input id="nombreContacto" type="text" placeholder="Nombre" class="form-control"/> 
                               
                               </div>
                       </div>
                       <div class="form-group"><label class="col-lg-2 control-label">Telefono</label>

                           <div class="col-lg-6"><input id="telefonoContacto" type="text" placeholder="Telefono" class="input-medium bfh-phone" data-format="+595 (ddd) ddd-dddd"/>
                               </div>
                       </div>
                       <div class="form-group"><label class="col-lg-2 control-label">Telefono Movil</label>

                           <div class="col-lg-6"><input id="telefonoMovilContacto" type="text" placeholder="Telefono" class="input-medium bfh-phone" data-format="+595 0ddd dd dd dd"/>
                               </div>
                       </div>
                  </div>
                       <div class="clearfix form-actions box-footer">
                           <div class="col-md-offset-3 col-md-9">
                                   <button id="aceptar" class="btn btn-primary" type="button" onclick="javascript:sendData();">
                                           <i class="ace-icon fa fa-check bigger-110"></i>
                                           Guardar
                                   </button>

                                   &nbsp; &nbsp; &nbsp;
                                   <button id="cancelar" class="btn btn-default" type="reset" >
                                           <i class="ace-icon fa fa-undo bigger-110"></i>
                                           Cancelar
                                   </button>
                           </div>
                       </div>                   
               </form>
           </div>
      <!-- Your Page Content Here -->

    </section><!-- /.content -->
  </div>
    <div layout:fragment="scripts">
      <script th:src="@{~/proyecto/resources/js/empresa.js}"></script>
    </div>
  
     
    
</body>
</html>