<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="header.html">
    <head>
        <div layout:fragment="styles"> 
            <link rel="stylesheet" th:href="@{/resources/dist/css/dataTables.bootstrap.css}" type="text/css"/>
            <script th:inline="javascript">  
                var datosEmpresa = /*[[${empresas}]]*/'';
            </script>
        </div>
    </head>
<body>
    <div layout:fragment="body">
        
        <div class="tabladd-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Rol.Agregar'')')}"/>
        <div class="tabledit-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Rol.Editar'')')}"/>
        <div class="tablactivate-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Rol.Activar'')')}"/>
        <div class="tabldelete-permiso" style="display: none;" th:text ="${#authorization.expression('hasAnyAuthority(''Rol.Desactivar'')')}"/>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Roles
                <small>Lista de roles de la empresa.</small>
            </h1>
            <ol class="breadcrumb">
                <a href="roles/crear" class="btn btn-primary" role="button">Crear</a>
                <a href="roles" class="btn btn-info" role="button">Cancelar</a>
            </ol>
        </section>
        <hr/>
        <!-- Main content -->
        <section class="content">
            <div class="table-responsive dataTables_wrapper form-inline no-footer">
                <table class="table table-striped table-bordered table table-striped table-bordered table-hover dataTable no-footer DTTT_selectable" id="example1">
                    <div class="" id="mensaje" style="display: none; float: none;"></div>
                    <thead>
                        <tr>
                            <th>Nombre Rol</th>
                            <th>Empresa</th>
                            <th>STATUS</th>
                            <th class="tabledit-toolbar-column">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:each='rol : ${roles}'>
                            <tr>

                                <input class="tabledit-input tabledit-identifier" type="hidden" th:name="id" th:value="${rol.id}" disabled=""/>

                                <td class="tabledit-view-mode">
                                    <span  style="display: inline;"  th:text="${rol.nombre}"></span>
                                    <input class="tabledit-input form-control input-sm" type="text" th:name="nombre" th:value="${rol.nombre}" style="display: none;" disabled=""/>
                                </td>
                                <td class="tabledit-view-mode">
                                    <span  style="display: inline;"  th:text="${rol.rolEmpresa}"/>
                                    <select class="tabledit-input form-control input-sm" name="avatar" style="">
                                        <!--<option th:each="empresa : ${empresas}" th:value="${empresa.id}" th:text="${empresa.nombre}"/>-->
                                    </select>
                                </td>
                                <td class="tabledit-estado">
                                    <span class="label label-success" th:if="${rol.activo} == 'S'"  th:value="S" th:text="Activo"/>
                                    <span class="label label-danger" th:if="${rol.activo} == 'N'"  th:value="N" th:text="Inactivo"/> 
                                </td>
                                <td style="white-space: nowrap; width: 1%;" class="tabledit-buttons">

                                </td>
                            </tr>
                           </th:block>     
                    </tbody>
                </table>
            </div>
              
        </section>

    </div>    
    <!-- /.content -->
    <div layout:fragment="scripts">
     <script src="/proyecto/resources/js/roles.js"></script>   
     <script src="/proyecto/resources/dist/js/jquery.tabledit.js"></script>
     <script src="/proyecto/resources/dist/js/jquery.dataTables.js"></script>
     <script src="/proyecto/resources/dist/js/dataTables.bootstrap.min.js"></script>
    

    </div>

</body>
</html>