<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="header.html">
<head></head>
<body>
    <div layout:fragment="body">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Roles
                <small>Lista de roles de la empresa.</small>
            </h1>
            <ol class="breadcrumb">
                <a href="roles/crear" class="btn btn-primary" role="button">Crear</a>
                <a href="roles" class="btn btn-info" role="button">Cancelar</a>
            </ol>
        </section>
        <hr/>
        <!-- Main content -->
        <section class="content">
            <div class="row-fluid">
                <div id="mensaje"></div>
                <div class="span12">
                    <table class="table table-striped table-bordered table-hover" id="table_bug_report">
                        <thead>
                            <tr>

                                <th>NOMBRE</th>
                                <th class="hidden-480">STATUS</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>

                        <tbody>
                            <th:block th:each='rol : ${roles}'>
                                <tr>
                                    <td class="hidden-480" th:text="${rol.nombre}"></td>
                                    <td class="hidden-480">
                                        <span th:if="${rol.activo} == 'S'" class="label label-success">Activo</span>
                                        <span th:if="${rol.activo} == 'N'" class="label label-danger">Inactivo</span>
                                    </td>
                                    <td>
                                        <a th:if="${rol.activo} == 'S'" class="btn btn-xs btn-info" th:href="@{'/roles/'+${rol.id}+'/editar'}"> <i class="ace-icon fa fa-pencil bigger-120"></i>
                                        </a>

                                        <button th:if="${rol.activo} == 'N'" th:onclick="'activar(\'' + ${rol.id} + '\');'" class="btn btn-xs btn-success" title="Activar">
                                            <i class="ace-icon fa fa-check bigger-120"></i>
                                        </button>
                                        <button th:if="${rol.activo} == 'S'" th:onclick="'desactivar(\'' + ${rol.id} + '\');'" class="btn btn-xs btn-danger" title="Desactivar">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </button>
                                    </td>
                                </tr>
                            </th:block>

                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </div>    
    <!-- /.content -->
    <div layout:fragment="scripts">
    <script th:src="@{/resources/js/empresas.js}"></script>

    <script src="/proyecto/resources/dist/js/jquery.dataTables.min.js"></script>
    <script src="/proyecto/resources/dist/js/dataTables.bootstrap.min.js"></script>
    <script src="/proyecto/resources/dist/js/empresas.table.js" charset="utf-8"></script>

    </div>

</body>
</html>